* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #2f3c50; /*/2b3b4e*/
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.container {
    text-align: center;
    background-color: #131522;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin-bottom: 350px;
}

.profile {
    margin-bottom: 20px;
}

.profile-img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.description h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description p {
    font-size: 16px;
    color: white;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-link,
.mail-button,
.cv-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px;
    text-decoration: none;
} 

.social-link i, 
.mail-button i,
.cv-button i {
    font-size: 30px;
    color: #ffffff;
    transition: color 0.3s ease;
}

.social-link i:hover, 
.mail-button i:hover,
.cv-button i:hover {
    color: #2f3c50;
}

.hover-text {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.social-link:hover .hover-text,
.mail-button:hover .hover-text,
.cv-button:hover .hover-text {
    opacity: 1;
}

